<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" style="margin-top:10px;">
        <div class="col-md-10 col-md-offset-1 pull-right">
          <img class="img-error" [src]="dohimg" />
          <h2>404 Página não encontrada</h2>
          <p>Desculpa, ocorru um erro, a página requisitada não foi encontrada!</p>
          <div class="error-actions">
            <a routerLink="/home" class="btn btn-primary btn-lg"> <span class="glyphicon glyphicon-arrow-left"></span>
              Voltar para a Home </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>